accelerate==1.10.1
ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.9.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp_socks==0.10.1
aiosignal==1.4.0
alembic==1.17.0
ament-clang-format==0.12.14
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-types==0.7.0
anyio==4.10.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
arrow==1.4.0
astor==0.8.1
astrapy==2.1.0
asttokens==3.0.0
async-timeout==4.0.3
attrdict==2.0.1
attrs==25.3.0
av==16.0.1
Babel==2.8.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.10.0
beniget==0.4.1
binaryornot==0.4.4
blake3==1.0.5
blenderproc==2.8.0
blinker==1.9.0
bloom==0.13.0
bond==4.1.2
Bottleneck==1.3.2
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
build==1.3.0
builtin-interfaces==1.2.2
cachetools==6.2.0
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
cbor2==5.7.0
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.3
chromadb==1.1.1
click==8.1.8
cloudpickle==3.1.1
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.0
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
coloredlogs==15.0.1
comfy-cli==1.5.2
comfyui-embedded-docs==0.3.0
comfyui_frontend_package==1.28.7
comfyui_workflow_templates==0.2.1
comm==0.2.3
command-not-found==0.3
composition-interfaces==1.2.2
compressed-tensors==0.10.2
ConfigArgParse==1.7.1
configobj==5.0.6
control-msgs==4.8.0
controller-manager==2.51.0
controller-manager-msgs==2.51.0
cookiecutter==2.6.0
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
cupy-cuda12x==13.6.0
cv-bridge==3.2.1
cycler==0.11.0
dash==3.1.1
dataclasses-json==0.6.7
dbus-python==1.2.18
debugpy==1.8.17
decorator==4.4.2
-e git+https://github.com/deepseek-ai/DeepSeek-VL@681bffb4519856ad27cc17531aacde31ddf6f1a7#egg=deepseek_vl
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.20.5
Deprecated==1.2.13
deprecation==2.1.0
depyf==0.19.0
diagnostic-msgs==4.9.0
diagnostic-updater==4.0.6
dill==0.4.0
diskcache==5.6.3
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.7.0
docutils==0.17.1
domain-coordinator==0.10.0
dulwich==0.20.31
duplicity==0.8.21
durationpy==0.10
dwb-msgs==1.1.18
einops==0.8.1
email-validator==2.3.0
empy==3.3.4
et-xmlfile==1.0.1
example-interfaces==0.9.3
examples-rclpy-executors==0.15.4
examples-rclpy-minimal-action-client==0.15.4
examples-rclpy-minimal-action-server==0.15.4
examples-rclpy-minimal-client==0.15.4
examples-rclpy-minimal-publisher==0.15.4
examples-rclpy-minimal-service==0.15.4
examples-rclpy-minimal-subscriber==0.15.4
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.21.1
fastrlock==0.8.3
filelock==3.18.0
flake8==4.0.1
Flask==3.1.1
flatbuffers==25.9.23
fonttools==4.29.1
frozenlist==1.7.0
fs==2.4.12
fsspec==2025.7.0
future==0.18.2
gast==0.5.2
gazebo-msgs==3.9.0
generate-parameter-library-py==0.5.0
geometry-msgs==4.9.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.41.1
googleapis-common-protos==1.70.0
gpg==1.16.0
graph-msgs==0.2.0
graph-rag-example-helpers==0.8.0
graph-retriever==0.8.0
greenlet==3.2.4
griffe==1.14.0
grpcio==1.75.1
h11==0.16.0
h2==4.3.0
h5py==3.15.1
hf-xet==1.1.8
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.34.4
humanfriendly==10.0
hyperframe==6.1.0
idna==3.3
ifcopenshell==0.8.3.post2
image-geometry==3.2.1
immutabledict==4.2.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==1.1.1
interactive-markers==2.3.2
interegular==0.3.3
ipython==8.37.0
ipywidgets==8.1.7
isodate==0.7.2
itsdangerous==2.2.0
jdcal==1.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
keyring==23.5.0
kiwisolver==1.3.2
kornia==0.8.1
kornia_rs==0.1.9
kubernetes==34.1.0
langchain==0.3.27
langchain-chroma==0.2.6
langchain-community==0.3.31
langchain-core==0.3.79
langchain-graph-retriever==0.8.0
langchain-ollama==0.3.10
langchain-text-splitters==0.3.11
langsmith==0.4.37
language-selector==0.1
lark==1.2.2
laser-geometry==2.4.0
launch==1.0.10
launch-param-builder==0.1.1
launch-ros==0.19.10
launch-testing==1.0.10
launch-testing-ros==0.19.10
launch-xml==1.0.10
launch-yaml==1.0.10
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lifecycle-msgs==1.2.2
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
lockfile==0.12.2
logging-demo==0.20.5
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
map-msgs==2.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.5.1
matplotlib-inline==0.1.7
matrix-nio==0.25.2
mccabe==0.6.1
mdurl==0.1.2
mercurial==6.1.1
message-filters==4.3.8
mistral_common==1.8.4
mixpanel==4.11.1
mmh3==5.2.0
monotonic==1.6
more-itertools==8.10.0
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
mpi4py==3.1.3
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.6.4
mypy_extensions==1.1.0
narwhals==2.0.1
nav-2d-msgs==1.1.18
nav-msgs==4.9.0
nav2-common==1.1.18
nav2-msgs==1.1.18
nav2-simple-commander==1.0.0
nbformat==5.10.4
neo4j==6.0.2
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
ninja==1.13.0
nose==1.3.7
nose2==0.9.2
notify2==0.3
numba==0.61.2
numexpr==2.8.1
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.0
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
odfpy==1.4.2
olefile==0.46
ollama==0.6.0
onnxruntime==1.23.1
open3d==0.19.0
openai==1.102.0
openai-harmony==0.0.4
opencv-python==4.12.0.88
openpyxl==3.0.9
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
orjson==3.11.3
osrf-pycommon==2.1.6
outlines_core==0.2.10
overrides==7.7.0
packaging==25.0
pandas==1.3.5
paramiko==2.9.3
parso==0.8.4
partial-json-parser==0.2.1.1.post6
pathspec==0.12.1
patiencediff==0.2.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pexpect==4.8.0
pillow==11.3.0
platformdirs==4.3.8
plotly==6.2.0
pluggy==1.6.0
ply==3.11
posthog==5.4.0
progressbar==2.5
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.32.0
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.10.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pycairo==1.20.1
pycodestyle==2.8.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.23.0
pycups==2.0.1
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
PyGithub==1.55
Pygments==2.19.2
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.3.0
pymacaroons==0.13.0
pymongo==4.15.3
PyNaCl==1.5.0
pyparsing==2.4.7
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyquaternion==0.9.9
pyRFC3339==1.1
pytest==8.4.2
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.1
python-gitlab==2.10.1
python-json-logger==3.3.0
python-multipart==0.0.20
python-qt-binding==1.1.2
python-slugify==8.0.4
python-socks==2.7.2
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
pyzmq==27.0.2
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
questionary==2.1.1
ray==2.49.0
rcl-interfaces==1.2.2
rclpy==3.3.17
rcutils==5.1.6
referencing==0.36.2
regex==2025.7.34
reportlab==3.6.8
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resource-retriever==3.1.3
retrying==1.4.1
rich==14.1.0
rich-toolkit==0.15.0
rignore==0.6.4
rmw-dds-common==1.6.0
roman==3.3
ros2-nodes==0.0.0
ros2action==0.18.13
ros2bag==0.15.15
ros2cli==0.18.13
ros2component==0.18.13
ros2controlcli==2.51.0
ros2doctor==0.18.13
ros2interface==0.18.13
ros2launch==0.19.10
ros2lifecycle==0.18.13
ros2multicast==0.18.13
ros2node==0.18.13
ros2param==0.18.13
ros2pkg==0.18.13
ros2run==0.18.13
ros2service==0.18.13
ros2test==0.4.0
ros2topic==0.18.13
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosdep==0.26.0
rosdep-modules==0.26.0
rosdistro==1.0.1
rosdistro-modules==1.0.1
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.5
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rosinstall==0.7.8
rosinstall-generator==0.1.23
rospkg==1.6.0
rospkg-modules==1.6.0
rpds-py==0.26.0
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9.1
ruff==0.14.1
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.15.3
screen-resolution-extra==0.0.0
scripts==3.9.0
SecretStorage==3.3.1
semver==3.0.4
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentencepiece==0.2.1
sentry-sdk==2.35.1
setproctitle==1.3.6
shape-msgs==4.9.0
shapely==2.1.2
shellingham==1.5.4
simplejson==3.17.6
simsimd==6.5.3
six==1.16.0
slam-toolbox==2.6.10
smclib==4.1.2
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soundfile==0.13.1
soupsieve==2.3.1
soxr==0.5.0.post1
spandrel==0.4.1
SQLAlchemy==2.0.44
srdfdom==2.0.7
sros2==0.10.7
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.47.3
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
sympy==1.14.0
systemd-python==234
tables==3.7.0
teleop-twist-keyboard==2.4.0
tenacity==9.1.2
terminator==2.1.1
text-unidecode==1.3
tf2-geometry-msgs==0.25.16
tf2-kdl==0.25.16
tf2-msgs==0.25.16
tf2-py==0.25.16
tf2-ros-py==0.25.16
tf2-sensor-msgs==0.25.16
tf2-tools==0.25.16
threadpoolctl==3.6.0
tiktoken==0.11.0
timm==1.0.20
tokenizers==0.21.4
toml==0.10.2
tomli==2.3.0
tomlkit==0.13.3
topic-monitor==0.20.5
torch==2.7.1
torchaudio==2.7.1
torchsde==0.2.6
torchvision==0.22.1
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.0
trampoline==0.1.2
transformers==4.55.4
triton==3.3.1
turtle-tf2-py==0.3.7
turtlebot3-msgs==2.4.0
turtlesim==1.4.2
typeguard==2.2.2
typer==0.16.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ultralytics==8.3.171
ultralytics-thop==2.0.14
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
unpaddedbase64==2.1.0
urdfdom-py==1.2.1
urllib3==2.3.0
usb-creator==0.3.7
uuid6==2025.0.1
uv==0.9.4
uvicorn==0.35.0
uvloop==0.21.0
vcstool==0.3.0
vcstools==0.1.42
visualization-msgs==4.9.0
vllm==0.10.1.1
wadllib==1.3.6
watchfiles==1.1.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.13.3
wstool==0.1.18
xacro==2.0.13
xdg==5
xformers==0.0.31
xgrammar==0.1.21
xkit==0.0.0
xlwt==1.3.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.25.0
